################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RedEngine/v16
/build
/.idea
/cmake-build-debug
/cmake-build-release
